<div class="modal-header">
    <h5 *ngIf="data.comeFrom == 'add'">Add Menu Item</h5>
    <h5 *ngIf="data.comeFrom == 'edit'">Edit Menu Item</h5>

    <a aria-label="Close" class="close " data-dismiss="modal" type="button" (click)="closeDialog()">
        <i class="material-icons float-right">cancel</i></a>
</div>
<div>
    <form>



        <div class="row">

            <div class="col-md-12">
                <mat-form-field class="w-100">
                    <input matInput placeholder="Title " [(ngModel)]="menuItem.title" name="title">
                </mat-form-field>
            </div>
            <div class="col-md-12">
                <mat-form-field class="w-100">
                    <input matInput placeholder="Link " [(ngModel)]="menuItem.link" name="link">
                    <mat-hint>ex: https://www.google.com
                    </mat-hint>
                </mat-form-field>
            </div>
        </div>
        <div class=" my-2 d-flex justify-content-center">
            <button mat-raised-button type="submit" class="btn btn-primary " (click)="addItem()" *ngIf="data.comeFrom == 'add'"> Add </button>
            <button mat-raised-button type="submit" class="btn btn-primary " (click)="addItem()" *ngIf="data.comeFrom == 'edit'"> Edit </button>
        </div>

    </form>
</div>