<div class="container">

    <div class="d-flex my-4 justify-content-end">
        <button mat-raised-button class="btn btn-primary btn-sm mx-2" (click)="openAddMenuItemDialog()">
Add New MenuItem</button>

        <button mat-raised-button class="btn btn-primary btn-sm mx-2" (click)="resetMenu()">
  Reset Menu To Default</button>
    </div>

    <div class="d-flex justify-content-center">
        <cdk-drop-list class="mb-2" [cdkDropListData]="menuList" (cdkDropListDropped)="dropGroup($event)">
            <div cdkDropListGroup>
                <div class="example-container" *ngFor="let menuItem of menuList" cdkDrag [cdkDragData]="menuItem">

                    <a class="cursor-move " [href]="menuItem.link" target="_blank">
                        <h2 class="d-inline my-3">{{menuItem.title}}</h2>
                    </a>
                    <span class="float-right cursor-pointer"> <i class="material-icons text-primary mx-1"  matTooltip="Add New SubItem" (click)="openAddSubItemDialog(menuItem)">add</i> <i class="material-icons text-secondary mx-1" (click)="openEditMenuItemDialog(menuItem)"  matTooltip="Edit MenuItem">edit</i> <i class="material-icons mx-1 text-danger" (click)="deleteMenuItem(menuItem)"  matTooltip="Delete MenuItem">delete</i></span>

                    <cdk-drop-list class="example-list my-2" [cdkDropListData]="menuItem.items" (cdkDropListDropped)="dropItem($event)">
                        <div class="example-box" *ngFor="let item of menuItem.items" cdkDrag [cdkDragData]="item">
                            {{item.name}} <span class="float-right cursor-pointer">  <i class="material-icons text-secondary mx-1" (click)="openEditSubItemDialog(menuItem, item)"  matTooltip="Edit SubItem">edit</i> <i class="material-icons mx-1 text-danger" (click)="deleteItem(menuItem, item)"  matTooltip="delete SubItem">delete</i></span>

                        </div>
                    </cdk-drop-list>
                </div>
            </div>
        </cdk-drop-list>
    </div>